div.diybutton
{
    margin-right:20px;
    float : left;
}

#scan-content
{
    background-image: url("../img/5.jpg");
}

#scan-content2
{
    background-image: url("../img/7.jpg");
}


#checkbox1
{
    background-color:rgba(0,0,0,0);
    border: 1px solid white;
}
  